---
import SectionLayout from "@/components/SectionLayout.astro"

import { skills } from "@cv"
---

<SectionLayout title="Skills">
  <div>
  {
    skills.map((skill) => {
      return (
        <p>{skill.name}</p> 
      )
    })
  }
  </div>

</SectionLayout>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  p {
    background-color: #777;
    padding: 2px 4px;
    border-radius: 4px;
  }
</style>